.course-container {   
    padding: 10px;
    h1{
        text-align: center;
    } 
}

.card-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .description {
        width: 50%;
    }
}
