input {
    border: 2px solid orange;
    width: 30vw;
    height: 30px;
    border-radius: 2px solid orange;
    margin: 0px 10px 10px 0px;
}

label {
    font-weight: bold;
    margin-bottom: 2px;
    display: inline-block;
}