.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid red;
    padding: 10px;
    text-align: center;
    align-items: center;
    margin: 5px;
}