.courses {
    margin: 10px 5px;
    border: 2px solid blue;
    padding: 10px;
}

.search-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}